<!DOCTYPE html>
   <head>
      <title>MQ135 Sensor data </title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
	<h1>MQ135 Sensor Data </h1>
	<h3> CO2 level   ==>  {{ ppm  }} PPM</h3>
	<hr>	
	<h3> Last Sensors Reading: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>	
	<hr>
	<h3> HISTORICAL DATA </h3>
	<p> Enter number of samples to retrieve:
	<form method="POST">
		<input name="num_samples" value= {{num_samples}}>
		<input type="submit">
		</form></p>
	<hr>
	<img src="/plot/ppm" alt="Image Placeholder" width="49%">
	
   </body>
</html>